/* CSS Document */
body,p{
margin:0;
padding:0;
//background:#fff;
background:#666;
font:12px/15px tahoma; 
}
#home{
background:url(../images/bg.jpg);
}
img{border:0; float:left;}
.flt{float:left;}
.flr{float:right;}
.clr{clear:left;}
.ds{display:inline;}

#main_block{width:1004px; text-align:left;}
#sub_block1{
	width: 1004px;
	text-align: left;
}
#navAd{
background:url(../images/til_hm.gif) repeat-x;  
	}
#top_block{ width:1004px; float:left; padding-top:9px; background:#007A87;}
#content_block{ width:1004px; float:left;background:#fff; }
#left_block{ float:left; width:315px;}
#left_blocko{ float:left; width:200px;}
#right_block{ width:656px; float:right; margin:30px 16px 0 0;display:inline; }
#sub_block2{width:1004px;text-align:left;}
#footer_block{ width:1004px; float:left; background:#D29D07; padding:20px 0 20px 0;}

/*top*/
.tp_img1,.tp_img2{width:1004px; height:319px; float:left;}
.tp_img2{background:url(../images/tp_bk2.jpg) no-repeat right; }
.navi{  height:50px; width:1200px;position:relative; left:-109px; top:1px;}
.navi a:hover{ text-decoration:underline; float:left;
		text-shadow:1px 1px 3px black;}
.navi_hm{ background:url(../images/til_hm.gif) repeat-x; float:left; padding:20px 72px; margin-right:1px; font: bold 15px Trebuchet MS; color:#fff; text-decoration:none; }
.navi_tx{ background:url(../images/til_ab.gif) repeat-x; float:left; padding:20px 74px; margin-right:1px; font: bold 15px Trebuchet MS; color:#fff; text-decoration:none; }
.navi_txp{background:url(../images/til_ab.gif) repeat-x; float:left; padding:10px 54px 0 54px; margin-right:1px; font: bold 15px Trebuchet MS; color:#fff; text-decoration:none; }
.navi_txp a:hover{ text-decoration:underline; float:left;
		text-shadow:1px 1px 3px black;}
.navi_txp #ls{ float:left; padding:0; margin:0 0 0 -20px;
width:100px; text-align:center; position:absolute;display:none;}
.prdt{font: bold 15px Trebuchet MS; color:#fff; text-decoration:none;}
.navi_txp:hover #ls{display:block; z-index:1}
.navi_txp #t #ls li:hover{text-shadow:1px 1px 20px black;}


.logo{ margin:49px 400px 0 55px; float:left; opacity:0.6;}
.tp_tx{ margin:55px 0 0 225px; float:left; }

/*left*/
.nws{ color:#fff; font:17px/15px trebuchet MS; float:left;}
.blk1_lp{ width:272px; background:url(../images/til_lf.gif) #FFCA81 repeat-x; float:left; padding:15px 0 12px 43px; opacity:0.8; }
.blk2_lp{ background:#348890; float:left; padding:15px 0 15px 43px;  width:272px; margin-top:1px;}
.usr{ color:#36240C; font:11px/17px verdana; float:left; margin-top:6px; width:250px;}
.txbx{
	width: 160px; float: left; margin: 6px 0 0 0;
	border-radius: 7px 7px 1px; border: 0; text-align:center;
}
/*#mid{ width:683px;height:500px; background:url(../Cars/rolls_royce_15.jpg)repeat-x;
	float:right; box-shadow:-11px 1px 20px #333333;
	border-right:1px dotted #FFCC33; 
	}
#midl{ border-left:1px solid #CCC; width:500px; height:box-shadow:7px 9px 20px #666666; top:50px; border-radius:50px 50px 0px 0px; padding:1px 60px 20px 60px; margin:30px 0 0 30px; background:#000; opacity:0.9;}*/
#mid{ width:683px;height:auto; background:url(../Cars/rolls_royce_15.jpg)repeat-x #666;
	float:right; box-shadow:-11px 1px 20px #333333;
	border-right:1px dotted #FFCC33; padding:0 0 40px 0;
	}
#midl{ border-left:1px solid #CCC; width:500px;box-shadow:7px 9px 20px #666666; top:50px; height:800px;border-radius:50px 50px 0px 0px;padding:1px 60px 80px 60px; margin:30px 0 0 30px; background:#000; opacity:0.9;}
#mid2{ border-left:1px solid #CCC; width:500px;box-shadow:7px 9px 20px #666666; top:50px; height:300px;border-radius:50px 50px 0px 0px;padding:1px 60px 80px 60px; margin:30px 0 0 30px; background:#000; opacity:0.9;}
#smap{ float:left; text-decoration:none; color:#CCC;font:20px radio-group;float; margin:10px 0 0 50px;}
#smap input{ background:none; opacity:0.9; border:1px solid #06F;
 color:#FFF;}
#smap #f{border:none;}
#schbx{
	width:110px; position:relative; top:-5px;
	height:18px;
	border-radius: 7px 7px 1px; border: 0;
	border-top:1px dotted blue;
	}
#schbut{
		border:none; text-shadow:1px 1px 1px #3366FF; border-radius:3px 3px 9px;
	}
.crs{
	text-align:center; color:#C0C0C0; float:right;
	}
.crs a{ text-decoration:none; color:#C0C0C0;}
.crs a:hover{ color:#FFF; text-decoration:underline;}
.smt{ margin:12px 100px 0 0; float:left; background:url(../images/sbm.gif) no-repeat; width:60px; height:20px; border:0; }
.chk{ width:250px; float:left; margin:10px 0 0 0; }
.chk input{width:13px; height:13px; float:left;}
.chk span{ font:10px verdana; float:left; color:#36240C; margin:2px 0 0 9px;}
.usr a{color:#36240C;}
.usr a:hover{ text-decoration:none; }
.dat{ width:235px; float:left; margin:16px 0 0 0; color:#fff; font:12px/16px Georgia; }
.dat span{ color:#FBDE14;font: bold 12px/16px Georgia; float:left; text-decoration:underline; }
.dat input{ background:url(../images/rd_lf.gif) no-repeat; width:86px; height:20px; float:left; margin:9px 0 0 0; border:0; }

/*right*/
.modul{ padding:0 0 0 16px; float:left;width:640px;} 
.wel{ color:#077BD4; font:22px Trebuchet MS; float:left; }
.inr_bllk{ margin:14px 0 0 0; width:640px; float:left;}
.txt{ color:#66573A; float:left; width:430px;}
.txt a{color:#EC892B; text-decoration:underline; float:left; }
.txt a:hover{ text-decoration:none; }
.our{ color:#363636;font:18px Trebuchet MS;}
.rdmr{ margin:12px 0 0 0; float:left;}
.rdmr2{ margin:12px 0 0 15px; float:left;}
.rp_ln{ margin:18px 0 0 0; float:left;}
.blks{ width:656px; background:url(../images/spn_ln.gif) repeat-y; float:left; margin:18px 0 0 0; padding-bottom:5px;}
.special{ width:328px; float:left; padding:0 0 0 14px;}
.clnt{ width:280px; float:left;padding:0 0 0 32px; }
.spcl_blk{ background:#FCFEFE; width:656px; float:left; }
.widt{ margin-top:18px; float:left; width:656px; }
.tx_widt{ width:386px; float:left;color:#66573A; margin:0 0 0 14px;}
.lnk{ width:280px; float:left; margin:24px 0 0 0; }
.lnk a{ color:#D59F28; font:12px/27px tahoma; float:left; margin:2px -3px 0 10px;position:relative; width:265px;text-decoration:underline; }
.lnk a:hover{ text-decoration:none;}
.lnk img{ float:left; margin-top:12px;}
.lnk_cl{ width:280px; float:left; margin:24px 0 0 0; }
.lnk_cl a{ color:#D59F28;float:left; text-decoration:underline; }
.lnk_cl a:hover{ text-decoration:none;}
.lnk_cl img{ float:left; margin-top:21px;}
.cls2{float:left; color:#66573A;margin:0 -3px 0 10px;position:relative; width:265px;}
.cls{float:left; color:#66573A;margin:16px -3px 0 10px;position:relative; width:265px;}

/*footer*/
.cpy{ color:#36240C; font:11px Trebuchet MS; float:left; margin-left:225px; width:500px;}
.cpy a{ color:#000000; font:11px Trebuchet MS; }
.ftr_nv{ margin-left:185px; width:520px; float:left;}
.ftr_nv a{ color:#36240C; font: bold 12px Trebuchet MS; float:left; padding:0 13px; text-decoration:none;}
.ftr_nv span{ color:#36240C; font: bold 12px Trebuchet MS; float:left; padding:0 13px;}
.ftr_nv a:hover{ text-decoration:underline; }
#me{
	position:relative; height:50px; left:2px;
	border:1px; border-radius:5px 200px 100px;
	background:#6CC; color:#09F;
	box-shadow:5px 11px 50px #33CC99; width:200px;
	font: x-large "Arial Black", Gadget, sans-serif;
	text-shadow:1px 1px 10px #CC0000;
	font-size:40px;
	}
#me2{
	position:absolute;left:331px; top:35px;
	color:#36252F;
	border-right:7px inset #930; border-radius:2px 3px 8px;
	box-shadow:1px 0px 90px #FFF;
	width:400px; }
#sch{right:150px; width:200px;position:relative;left:770px;top:-50px;}
#sch text:hover{background: red; height:50px; position:relative;}
#top{ z-index:1;border:none; border-bottom:1px solid red; position:relative; height:50px;}
li{list-style:none;} 
#sbar li a{ background:#CCC; text-decoration:none; text-align:center; text-decoration:none; display:block;font:18px signature; color:#333}
#sbar li a:hover{ background:#000; text-decoration:none; text-align:center; text-decoration:none; display:block;font:18px signature; color:#FFF;}